---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
<h3>Written by {frontmatter.author}</h3>
<p>Posted on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
<slot></slot>
</BaseLayout>