---
const pageTitle = "About Me";
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h3>Hello! My name is Siddhanth, I am an undergraduate student studing Computer Science and this website is what I use to blog about what I am currently learning, display my Work-in-Progress and Completed Projects.</h3>
</BaseLayout>
