---
import TerminalLayout from '../layouts/TerminalLayout.astro';

const pageTitle = "About Me";
const description = "About Siddhanth Methil — CS undergraduate at Manipal Institute of Technology, researching Federated Learning and Mechanistic Interpretability.";
---
<TerminalLayout pageTitle={pageTitle} description={description}>
	<header class="mb-16 pl-6 border-l-2 border-accent">
    <h1 class="text-4xl md:text-5xl font-bold text-zinc-100 mb-4 tracking-tighter">
      ABOUT ME
    </h1>
  </header>
	<h3>Hello! I'm Siddhanth Methil (aka Hexager), an undergraduate Computer Science and Engineering student at Manipal Institute of Technology.</h3>
  <p>I am really interested in breaking into ML Research, currently I am working on Federated Learning, and educating myself about Mechanistic Interpretability </p>
  <span class="block mt-4 font-mono text-sm text-accent">
        > CURRENTLY: Mars Rover Manipal
  </span>
</TerminalLayout>
