---

---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
		<h1>About Me</h1>
		<h2>Hello! My name is Siddhanth and this website is what I use to blog about what I am currently learning, display my Work in Progress and Completed Projects and generally write about stuff I am interested about.</h2>
	</body>
</html>
