---
const pageTitle = "Blog";
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<div class = "posts">
	{allPosts.map((post) => <li class = "post"><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</div>
</BaseLayout>
