---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Siddhanth Methil / Hexager";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Welcome to my corner of the internet!</p>
  <h2>Student studying Computer Science</h2>
</BaseLayout>
