---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Siddhanth Methil / Hexager";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Student studying Computer Science</h2>
</BaseLayout>
