@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --color-background: #09090B; /* Zinc 950 */
  --color-surface: #18181B;    /* Zinc 900 */
  
  --color-accent: #DC2626;      /* Red 600 */
  --color-accent-dark: #991B1B; /* Red 800 */
  --color-accent-light: #F87171; /* Red 400 */
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@layer base {
  body {
    @apply bg-background text-zinc-300 font-sans antialiased;
    /* Maybe scanlines or grain or smthng? */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-mono font-bold text-zinc-100 tracking-tight;
  }

  ::selection {
    @apply bg-accent/30 text-zinc-100;
  }
}
