---
import Social from './Social.astro';
---
<footer>
    <p>Check out my <Social platform="Github" username = "Hexager"</a>!</p></p>
</footer>
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>