--- 
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';

---
<header>
    <nav>
        <div class="nav-left">
            <Hamburger></Hamburger>
            <ThemeIcon></ThemeIcon>
        </div>
        <Navigation></Navigation>
    </nav>
</header>