---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
    a {
      padding: 0.5rem 1rem;
      color: #ECEFF1; /* Light text */
      background-color: #E53935; /* Primary Red */
      text-decoration: none;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease;
    }
    a:hover {
      background-color: #B71C1C; /* Darker Red on hover */
    }
</style>